* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.body-container {
  font-family: 'Varela';
  margin: 1rem;
  text-align: center;
}

.posts-h1 {
  font-family: 'Josefin Sans';
  color: cadetblue;
  width: 96vw;
}
.posts-grid {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}
.grid-header {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 2fr 8fr 2.4fr;
  text-align: center;
  text-justify: center;
  font-family: 'Josefin Sans';
  font-size: 20px;
  text-decoration: underline;
}
.post-card {
  display: grid;
  grid-template-columns: 2fr 6fr repeat(3, 0.2fr);
  margin-bottom: 1rem;
  gap: 1rem;
}
.post-card p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-btn .delete-btn {
  display:grid;
}
.edit-btn {
  color: green;
}
.delete-btn {
  color: red;
}
.publish-btn, .edit-btn .delete-btn{
  margin: 0 .5rem ;
}
.unpublish-btn, .edit-btn .delete-btn{
  margin: 0;
}
.unpublish-btn {
  color: gray;
}
.create-post-h1{
  margin-bottom: 0;
}
.create-post-form{
  margin:0;
  display:flex;
  flex-direction: column;
  align-items: center;
}
#title{
  font-weight: 600;
  margin-left: .25rem;
}
.create-post-checkbox{
  transform: scale(1.5);
  margin-left: 1rem;
}
.form-group {
  font-family: Josefin Sans;
  font-weight: 500;
  margin: .5rem;
  min-height: 4vh;
}
.form-group button{
  color:#2e2e2e;
  background-color:rgb(72, 182, 109);
}
.create-post-input{
  margin: 1rem;
}
.tox{
  margin: 1rem;
  align-self: center;
}
.tox-p{
  font-size: 1.2rem;
  margin-top:-10px;
}

