* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.body-container {
  font-family: 'Varela';
  margin: 1rem;
  text-align: center;
}

/* Posts */
.posts-h1 {
  font-family: 'Josefin Sans';
  color: cadetblue;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}
.posts-grid {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}
.grid-header {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 7vw 0 7vw;
  gap: 1rem;
  text-align: center;
  text-justify: center;
  font-family: 'Josefin Sans';
  font-size: 20px;
  text-decoration: underline;
}
@media (max-width: 1500px) {
  .grid-header {
    padding: 0 9vw 0 5vw;
  }
}
@media (max-width: 1000px) {
  .grid-header {
    padding: 0 14vw 0 5vw;
  }
}
.post-card {
  display: grid;
  grid-template-columns: 2fr 6fr repeat(3, 0.2fr);
  margin-bottom: 1rem;
  gap: 1rem;
}
.post-card p {
  /* single line ellipses */
  /*  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  /* specify # of lines to display */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 500px) {
  .post-card {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
  }
  .post-card > p:first-child {
    grid-column: span 1;
  }
  .post-card > p:nth-child(n + 2) {
    grid-column: span 3;
  }
  .post-card > a,
  button {
    grid-column: span 1;
  }
  .post-card,
  .unpublish-btn .publish-btn .edit-btn .delete-btn {
    margin: 0;
    font-size: 0.75rem;
  }
}

.edit-btn .delete-btn {
  display: grid;
}
.edit-btn {
  color: green;
}
.delete-btn {
  color: red;
}

.post-card > .publish-btn,
.unpublish-btn,
.edit-btn,
.delete-btn {
  height: 3rem;
  width: 6rem;
}
.publish-btn,
.edit-btn .delete-btn {
  margin: 0 0.5rem;
}
.unpublish-btn,
.edit-btn .delete-btn {
  margin: 0 0.5rem;
}
.unpublish-btn {
  color: gray;
  text-align: center;
  padding: 0;
}
/* Comments Section of Post Page */
.comments-container {
  margin: 4rem;
  width: 50lvw;
  margin-left: auto;
  margin-right: auto;
}
.new-comment-no-user {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1rem;
}
.new-comment {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.new-comment-title {
  text-align: left;
}
#comment-input {
  width: 100%;
  height: 4rem;
  padding: 0.25rem;
  opacity: 0.54;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.new-comment-btn-container {
  display: flex;
  gap: 0.5rem;
}
.new-comment-btn {
  margin-bottom: 0.5rem;
}
.new-comment-btn:disabled {
  cursor: not-allowed;
  color: rgb(65, 65, 65);
}
.comments-section {
  width: 50lvw;
  margin-right: auto;
  margin-left: auto;
}
.comment-card {
  width: 42lvw;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(246, 248, 248, 0.9);
  box-shadow: 0 0 0 0, 0 8px 16px rgba(20, 20, 20, 0.8);
  border-radius: 3px;
  color: rgba(34, 34, 34, 0.95);
  padding: 1rem;
  margin-top: 2rem;
  position: relative;
}
.comment-author {
  text-align: left;
  margin: 0.5rem 0 0 0.5rem;
}
.comment-card-content {
  padding: 1rem;
  font-size: 1.8rem;
}
.comment-card-date {
  text-align: right;
  color: gray;
  font-size: 0.8rem;
}
.close-icon-btn {
  cursor: pointer;
  margin-left: 90%;
  margin-right: 1rem;
  color: rgb(205, 0, 0);
  width: fit-content;
  padding: 0;
  border: none;
  background-color: rgba(246, 248, 248, 0);
}
.close-icon-btn:hover {
  transition: transform 0.25s;
  transform: scale(1.2);
}
.comment-delete-modal {
  flex-direction: column;
  z-index: 10;
  height: 100%;
  width: 100%;
  border: 2px solid #2e2e2e;
  background: local;
  background-color: rgba(246, 248, 248, 1);
  position: absolute;
  top: 0;
  left: 0;
}
.modal-text {
  font-size: 1.2rem;
}
.modal-btn-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem 25% 1rem 25%;
}
.modal-btn {
  width: 6rem;
  height: 2.5rem;
}
/* Create Posts */
.create-post-h1 {
  margin-bottom: 0;
}
.create-post-form {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title {
  font-weight: 600;
  margin-left: 0.25rem;
}
.create-post-checkbox {
  transform: scale(1.5);
  margin-left: 1rem;
}
.form-group {
  font-family: Josefin Sans;
  font-weight: 500;
  min-height: 4vh;
  margin: 1rem;;
}
.form-group button {
  color: #2e2e2e;
  background-color: rgb(72, 182, 109);
  margin-top: -.25rem;
}
.create-post-input {
  margin: 0 0 1rem;
  width: 34rem;
}
.errmsg{
  color: red;
  font-size: 1.2rem;
  margin-top: 0.25rem;
}
/* TinyMCE Editor */
.tox {
  margin: 1rem;
  align-self: center;
}
.tox-p {
  font-size: 1.2rem;
  margin-top: -10px;
}

/* Login Form */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form input {
  margin-top: 1rem;
  height: 3rem;
  width: 20rem;
}
.login-button {
  margin-top: 1rem;
}
