.nav {
  width: 100%;
  height: 10vh;
  position: sticky;
  top: 0;
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  z-index: 10;
}
.nav li.active {
    border-bottom: .2rem solid rgb(20, 20, 200);
}
.nav li {
    padding: 1rem;
}
.site-title-div {
  flex: 6;
  padding-left: 1rem;
}
.site-title-link {
    display: inline-block;
    color:rgb(20, 20, 200);
    width: 20vw;
}
.site-title-link:hover{
    color:rgb(55, 55, 255);
}
.nav-links {
  flex: 3;
  margin-right: 1rem;
  font-size: 1.2rem;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}

a {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-style: normal;
  color: black;
  text-decoration: inherit;
}
li a:hover {
  color: rgb(55, 55, 255);
}
.profile-div{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 1rem;
  height: 6rem;
  width: 6rem;
}
#open-user-menu{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}
.profile-icon{
  justify-self: center;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}
.menu-container{
  align-items: center;
  display:flex;
  flex-direction: column;
  height: 2rem;
  width: 8rem;
  margin: 0 .5rem;
  
}
.acct-menu {
  align-items: center;

}
.logout-btn{
  width: 8rem;

}
@media (max-width: 500px) {
  .nav {
    height: 14vh;
  }
  .site-title-div {
    flex: 2;
  }
  .nav-links {
    flex: 1;
    
  }
  .profile-div{
    width: 2rem;
  }
  .acct-menu .logout-btn{
    width: 20dvw;
    margin: 1dvw 6dvw 0 0 ;
    font-size: 1rem;
    padding: .4rem;
  }
}
@media (max-width: 380px) {
  .nav {
    height: 12vh;
  }
  .site-title-div {
    flex: 1;
    
  }
  .site-title-link h1{
    font-size: 32px;
  }
  .nav-links {
    flex: 3;
    font-size: 18px;
    margin-right: 1rem;
  }
  .nav-links li{
    padding-right: .2rem;
  }
  .profile-div{
    width: 1.8rem;
  }
  .acct-menu .logout-btn{
    width: 20dvw;
    margin: 1dvw 3dvw 0 0 ;
    font-size: 1rem;
    padding: .5rem;
  }
}